html, body {
	background-color: rgb(255, 255, 255);
	color: #000;
	margin: 0;
	padding: 0;
}


#main {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	background-color:  rgb(255, 255, 255);
}
 .first{
	width: 170px;
	height: auto;
	float: left;
	overflow: hidden;
	position: relative;
	background-color: rgb(221, 93, 19);
	border-style: inset;

 }
 .second{
	width: 170px;
	height: auto;
	float: left;
	overflow: hidden;
	position: relative;
	background-color: rgb(122, 122, 117);
	border-style: inset;

 }