body
{    
	background-color: #404040;
	font-family: 'Lato', sans-serif;
}
#container
{	
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	color: white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
}
#topbar
{
	background-color: #419ddb;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
    height: 100px;
    font-size: 30px;
    letter-spacing: 3px;
	font-weight: 900; 
}
#content
{
	float: left;
	padding: 40px;
	width: 1320px;
	background-color: #dedede;
	min-height: 580px;  
	text-align: justify;
}
#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
 .first{
	width: 252px;
	height: auto;
	float: left;
	overflow: hidden;
	position: relative;
    background-color:  #419ddb;
    text-align: center; 
 } 
 .second{
	width: 252px;	
	height: auto;
	float: left;
	overflow: hidden;
	position: relative;
    background-color:#8a93a3;
    text-align: center; 
	 

 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.day
{
    color: white;
    padding: 2px;
	font-size: 12;
	letter-spacing: 3px;
    font-weight: 900;
    background-color: #303030;
    text-align: center;
}
.break
{
    color: black;
    padding: 1px;
	font-size: 10;
	letter-spacing: 2px;
    font-weight: 900;
    background-color: #fdf3f3;
    text-align: center;
}
.firstC
{
	width: 131px;
	height: auto;
	float: left;
	overflow: hidden;
	position: relative;
    background-color:  #419ddb;
    text-align: center; 
 } 
 .secondC{
	float: left;
	width: 131px;	
	height: auto;
	overflow: hidden;
	position: relative;
    background-color:#8a93a3;
	text-align: center;
 }
 .day2
{	float: left;
	width: 262px;
    color: white;
     
	font-size: 12;
	letter-spacing: 3px;
    font-weight: 900;
    background-color: #303030;
	text-align: center; 
}
.podziałTopa
{	float: left;
	width: 535px;
	height: 100px;
	text-align: center;
	border-right: 5px dotted white;
	 
	 
}
.podziałTopaR
{	float: left;
	width: 835px;
	height: 100px;
	text-align: center;
	 
	 
	 
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 150px;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #303030;
        color: rgb(235, 219, 219);
        appearance: none;
        -webkit-appearance: none;
		-moz-appearance: none;
		text-align: center;
		font-weight:900;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #CCCCCC;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7B7B7B transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}
.PodzialRightTop
{	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	
	 
}
.PodzialLeftTop
{	width: 240px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	
	
	 
}
.myButton 
{		
	    font-family: 'Arial';
		display: inline-block;
		font-size: 15px;
		width: 100%;
		height: 16px;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #303030;
        color:rgb(235, 219, 219);
         
         
		text-align: center;
}
.myButton:hover {
	background-color:#CCCCCC;
	color: black;
}
.myButton:active {
	position:relative;
	top:1px;
}
.Check
{		 
		position: relative;
    	display: inline-block;
		margin-bottom: 15px;
		 
    	width: 50px;

}
#LeftPT{
	padding-left: 30px;
	float: left;
}
#RightPT{
	padding-left: 30px;
	padding-right: 30px;
	float: left;
}
#RightPT1{
	padding-left: 30px;
	 
	float: left;
	border-left: 5px dotted white;
}    
    
  